body{
  background-color: aqua;
}
#fondo{
  height: 100vh;
  background-color: aqua;
}
#inputs{
  width: 15vw;
  height: inherit;
  background-color: beige;
}
#teclado1{
  width: 15;
  height: inherit;
}
#teclado{
  width: 10vw;
  height: inherit;
  background-color: grey;
}
#operadores{
  width: 5vw;
  height: inherit;
  background-color: aquamarine;
}
