<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- CSS only -->
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
  crossorigin="anonymous"
/>

<!-- JavaScript Bundle with Popper -->
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
  crossorigin="anonymous"
></script>

<div class="container-fluid bg-info">
  <div class="position-absolute top-50 start-50 translate-middle">
    <div id="inputs" class="row">
      <input type="text" class="text-end" disabled="treu" [(ngModel)]="operacion">
      <input type="text" class="text-end" disabled="treu" [(ngModel)]="resultado">
    </div>
    <div id="teclado1" class="row">
      <div id="teclado" class="col-8">
        <div class="row h-25">
          <div class="d-grid gap-2 col-4 mx-auto">
            <button class="btn" (click)="escribirInput('9')">9</button>
          </div>
          <div class="d-grid gap-2 col-4 mx-auto">
            <button class="btn" (click)="escribirInput('8')">8</button>
          </div>
          <div class="d-grid gap-2 col-4 mx-auto">
            <button class="btn" (click)="escribirInput('7')">7</button>
          </div>
        </div>
        <div class="row h-25">
          <div class="d-grid gap-2 col-4 mx-auto">
            <button class="btn" (click)="escribirInput('6')">6</button>
          </div>
          <div class="d-grid gap-2 col-4 mx-auto">
            <button class="btn" (click)="escribirInput('5')">5</button>
          </div>
          <div class="d-grid gap-2 col-4 mx-auto">
            <button class="btn" (click)="escribirInput('4')">4</button>
          </div>
        </div>
        <div class="row h-25">
          <div class="d-grid gap-2 col-4 mx-auto">
            <button class="btn" (click)="escribirInput('3')">3</button>
          </div>
          <div class="d-grid gap-2 col-4 mx-auto">
            <button class="btn" (click)="escribirInput('2')">2</button>
          </div>
          <div class="d-grid gap-2 col-4 mx-auto">
            <button class="btn" (click)="escribirInput('1')">1</button>
          </div>
        </div>
        <div class="row h-25">
          <div class="d-grid gap-2 col-4 mx-auto">
            <button class="btn" (click)="escribirInput('.')">.</button>
          </div>
          <div class="d-grid gap-2 col-4 mx-auto">
            <button class="btn" (click)="escribirInput('0')">0</button>
          </div>
          <div class="d-grid gap-2 col-4 mx-auto">
            <button class="btn" (click)="escribirInput('00')">00</button>
          </div>
        </div>
      </div>
      <div id="operadores" class="col-4">
        <div class="">
          <div class="d-grid gap-2 col mx-auto">
            <button class="btn" (click)="borrarInput()">DEL</button>
          </div>
        </div>
        <div class="row h-10">
          <div class="d-grid gap-2 col mx-auto">
            <button class="btn" (click)="escribirInput('/')">/</button>
          </div>
        </div>
        <div class="row h-10">
          <div class="d-grid gap-2 col mx-auto">
            <button class="btn" (click)="escribirInput('*')">X</button>
          </div>
        </div>
        <div class="row h-20">
          <div class="d-grid gap-2 col mx-auto">
            <button class="btn" (click)="escribirInput('-')">-</button>
          </div>
        </div>
        <div class="row h-20">
          <div class="d-grid gap-2 col mx-auto">
            <button class="btn" (click)="escribirInput('+')">+</button>
          </div>
        </div>
        <div class="row h-20">
          <div class="d-grid gap-2 col mx-auto">
            <button class="btn" (click)="darResultado()">=</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
